

canvas {
	height: 100%;
	width: 100%;
	display: block;
}


.navbar {
	height: 50px;
	width: 100%;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #c0c0c0;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}