<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Syntactic Sugar</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Space+Mono:400,700" rel="stylesheet">   
  
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../static/css/stroll.css">
  <link rel="stylesheet" href="../static/css/index.css">

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="../static/js/jquery-3.2.1.js"></script>
  <script src="../static/js/stroll.js"></script>
  <script src="../static/js/index.js"></script>

  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <canvas id="cnvs">
    
  </canvas>
  <div class="navbar">
    <a id="upload_btn">Bake</a>
    <a id="help_btn">Help</a>
    <a id="cleanup_btn">Cleanup</a>
    <a id="contact" style="float:right;"><i class="fas fa-info"></i></a>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 5%; margin-bottom: 10%">
      <div class="one-half column">
        <h1>Syntactic Sugar</h1>
      </div>
      <div class="one-half column">      
        <div class="search-container">
          <input type="text" placeholder="Search.." id="search" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>      
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <ul class="fly marquee" style="overflow-y: auto;">
          <li>Basically, you should just <b>upload</b> your document</li>
          <li>It could be exciting. You extract so much!</li>
          <li>We want you to see what was MOST important in your document.</li>
          <li>Maybe this visualisation will provide you with this!</li>
          <li>Please...</li>
          <li>...</li>
          <li>..</li>
          <li>.</li>
          <li>Just do it? :)</li>
          <li>I know you cannot wait.</li>
          <li>Also, feel free to fork me...</li>
          <li>... (of course... when I am done with this assignment)</li>
          <li>(what the hell are licenses?)</li>
          <li>Signed By,</li>
          <li>   Yours Truly,</li>
          <li>     The Dude who is really into Com Truise,</li>
          <li>       Giambla2</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="similarity_graph" class="six columns">

      </div>    
      <div id="entropy_map" class="six columns">

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="about_me" class="twelve columns">

      </div>
    </div>
  </div>

<!-- The Modal -->
<div id="file_modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <a id="modal_close" class="close">
      <i class="fas fa-times"></i>
    </a>
    <div class="container">
      <form id="upload-file-form" enctype="multipart/form-data" method="post">
        <div class="row" style="margin-top: 60px;">
          <input id="upload-file" name="upload-file" type="file">
        </div>
        <div class="row">
          <a onclick="upload_file();">Upload <i class="far fa-hand-pointer"></i></a>
        </div>
      </form>
    </div>
  </div>

</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>