<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Syntactic Sugar</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Space+Mono:400,700" rel="stylesheet">   
  
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/index.css">

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="../static/js/jquery-3.2.1.js"></script>
  <script src="../static/js/index.js"></script>
  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <canvas id="cnvs">
    
  </canvas>
  <div class="navbar">
    <a>Upload Ingredients</a>
    <a>Cleanup</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 5%; margin-bottom: 25%">
        <h1>Syntactic Sugar</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h1>Document Placeholder</h1>
      </div>
      <div class="one-half column">      
        <div class="search-container">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>      
      </div>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>